<h2>{{ category.name }}</h2>
<div class="mb-4">
  <app-loading *ngIf="loading; else categoryTemplate"></app-loading>
  <ng-template #categoryTemplate>
    <ng-container *ngIf="courses.length; else noData">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-3 m-auto" *ngFor="let course of courses">
          <app-card-course [course]="course"></app-card-course>
        </div>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="alert alert-secondary" role="alert">
        <span class="text-dark">
          No hay cursos en esta categoría
        </span>
      </div>
    </ng-template>
  </ng-template>
</div>
