<div class="container">
  <h1>Ajustes</h1>
  <nav class="navbar navbar-expand-lg navbar-light px-0">
    <div class="">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link pl-0" routerLink="/ajustes/informacion">Informacion Básica</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link pl-0" routerLink="/ajustes/imagen">Foto de Perfíl</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link pl-0" routerLink="/ajustes/contrasena">Contraseña</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<div class="p-5"></div>
<div class="p-5"></div>
