<div class="d-flex bd-highlight img-portada4">
  <div class="contenedor1 conP pl-7 col-md-6">
    <div class="py-6 no-pading-mobile3"></div>
    <div class=" pt-5 no-pading-mobile">
      <h1>{{ "encourage_to_teach" | translate }}</h1>
      <p class=" col-md-12">
        {{ "Convert_teacher" | translate }}
      </p>
    </div>
    <br>
    <button class="btn btn-block p-0" type="button"  (click)="register()">
      <span class="text-capitalize text-white">{{
        "Start_now" | translate
      }}</span>
    </button>
    <div class="py-5 no-pading-mobile11"></div>
    <div class="py-5 "></div>
  </div>
</div>


<div>
  <div class="bd-highlight ">
    <div class="py-4"></div>
    <div class="text-center h1-size">
      <h1>{{"Why_do" | translate}}</h1>
    </div>
    <div class="py-4"></div>
    <div class="contenedor3 containers pl-5 pr-5">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid pt-4" src="./assets/img/Ahorro.png" />
          <div class="pt-4 ">

          <h3 class="text-center pt-1 pl-3 pr-2 col-sm-8">{{ "Save_Time" | translate }}</h3>
          <p class="text-justify col-10">
            {{ "Saving" | translate }}
          </p>
          </div>
        </div>

        <div class="col-md-4">
          <img class="img-fluid " src="./assets/img/Flexibilidad.png" />
          <div class="pt-4">
          <h3 class="text-center col-md-7" >{{ "Flexibility" | translate }}</h3>
          <h4 class="text-center" style="line-height: 15px">{{ "Choose_" | translate }}</h4>
          <p class="text-justify pt-2 col-10">
            {{ "Go_to_Vacations" | translate }}
          </p>
        </div>
        </div>

        <div class="col-md-4">
          <img class="img-fluid " src="./assets/img/Aprendizaje.png" />
          <div class="pt-4">
          <h3 class="text-center col-8 ">{{ "Gain_And_Learning" | translate }}</h3>
          <p class="text-justify col-10">
            {{ "Gain" | translate }}
          </p>
          </div>
        </div>

      </div>
    </div>
    <div class="py-4"></div>
  </div>
</div>


<app-profesor2></app-profesor2>
