<div class="row">
  <div class="col-sm-3 mx-auto">
    <div class="text-center">
      <img [src]="'https://congenius.s3.us-east-2.amazonaws.com/users/' + _userAuth.getIdentity().image" [alt]="'Teacher ' + _userAuth.getIdentity().name" class="img-fluid rounded-circle">
    <h3 class="card-title">Subir imagen</h3>
    <angular-file-uploader
              [config]="afuConfig"
              (ApiResponse)="responseUpload($event)" *ngIf="afuConfig">
          </angular-file-uploader>
    </div>
  </div>
</div>

