* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: Jost Regular;
  src: url("./../../../../assets/fonts/jost/Jost-Regular.ttf");
}
footer {
  width: 100%;
  background: #181832;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
}

.footer {
  justify-content: space-between;
  padding-left: 40px;
}

.containe-footer-all {
  width: 100%;
  max-width: 1200px;
}

.containe-body {
  display: flex;
  justify-content: space-between;
}

.content img {
  width: 15%;
  left: 15px;
  padding-right: 10px;
  padding-left: 25px;
}
// .contenedor img {
//   padding-right: 3rem;
//   width: 40%;
// }

.row label {
  margin-top: 0px;
  margin-left: 20px;
  color: #c7c7c7;
}

.containe-footer {
  width: 100%;
  background: #101010;
}
p {
  font-size: 17px;
  font-family: "Jost Regular";
}
.pad p {
  font-size: 25px;
  line-height: 30px;
  left: 700px;
}

.cont-img img{
  width: 13% !important;
  padding-right: 12px;
}

.con-img img{
  width: 5% !important;
}

@media screen and (max-width: 800px) {

  .cont-img img{
    width: 15% !important;
    padding-right: 12px;
  }

  .con-img img{
    width: 5% !important;
  }
}

@media screen and (max-width: 400px) {


  .cont-img img{
    width: 25% !important;
    padding-right: 12px;
  }

  .con-img img{
    width: 10% !important;
  }
  .conten {
    top: -5rem;
  }




  .footer {
    position: relative;
    top: 2rem;
    height: 100px;
  }

  .contenedor {
    // right: 25px;
    top: -4rem;
  }
  .contenedor p {
    font-size: 18px;
    text-align: justify;
    text-align-last: end;
    right: 20px;
  }
  .contenedor a{
    font-size: 22px;
    text-align: center;
    margin: 0;
  }
  .contenedor img {
    width: 80%;
  }
  .footer {
    top: 0;
  }
}
