<footer class="footer text-light">
  <div class="container-fluid conten">
    <div class="row row-grid my-md">
      <div class="col-md-6 ">
        <div class="cont-img">
        <a
          target="_blank"
          href="https://www.facebook.com/congeniusms"
          class="btn-icon-only center rounded-circle img-fluid"
        >
          <img src="./assets/img/icons/fb.png" />
        </a>
        <a
          target="_blank"
          href="https://www.instagram.com/congeniusms/"
          class="btn-icon-only center rounded-circle img-fluid"
        >
          <img src="./assets/img/icons/Instagram.png" />
        </a>
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=57 321 4946940"
          class="center rounded-circle "
        >
          <img src="./assets/img/icons/WPP.png" />
        </a>
        </div>
        <br />
        <br />
        <div class="con-img">
          <p>
            <i class="mdi mr-2"
              ><img src="./assets/img/icons/Ubicacion.png" style="width: 60px"
            /></i>
            Calle 4N #9E-63 Barrio Govika
          </p>
          <br />
          <p>
            <i class="mdi mr-2"
              ><img src="./assets/img/icons/Inbox.png" style="width: 60px" /></i
            ><a href="mailto:soporte@congeniusms.com"
              >soporte@congeniusms.com</a
            >
          </p>
          <br />
          <p>
            <i class="mdi mr-2"
              ><img
                src="./assets/img/icons/telefono.png"
                style="width: 60px" /></i
            ><a
              href="https://api.whatsapp.com/send?phone=57 321 4946940"   class="text-light" target="_blank" >(+57) 321 4946940</a
            >
          </p>
          <br>
          <br>
        </div>
      </div>

      <div class="col-md-6 text-right pr-5 contenedor">
        <div class="plus">
        <a href="https://congeniusms.com/" >

          <img  src="./assets/img/logo.png"  class="w-50" alt="Congenius Más simple"/></a>
        </div>
        <div class="pad pl-5">
          <p class="mt-3 ">{{ "slogan_congenius" | translate }}</p>
        </div>

        <p class="mb-0 mt-3 font-weight-light text-p">
          <span class="text-light">{{ "by" | translate }} </span>
          <a
            href="https://soracoworking.com"
            class="text-decoration-none"
            style="color: #009fe3"
            target="_blank"
            >SORA COWORKING</a
          >
        </p>

      </div>
    </div>
  </div>
</footer>
