<!-- Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="myForm" *ngIf="myForm" (submit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-body p-0">
          <h5 class="modal-title pt-4 text-center" id="resetModalLabel">{{ 'reset_password' | translate }}</h5>
          <div class="px-3 pt-3">
            <div class="form-group">
              <label for="email">{{ 'email' | translate }}</label>
              <input type="email" formControlName="email" class="form-control form-control-alternative" placeholder="email@example.com">
              <ng-container *ngIf="error"><small class="text-danger">{{ error | translate }}</small><br></ng-container>
              <ng-container *ngIf="myForm.controls['email'].touched && myForm.controls['email'].errors?.pattern"> <small class="text-danger">{{ 'invalid_email' | translate }}</small></ng-container>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="success">{{ 'success_email_reset' | translate }}</div>
            <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="myForm.invalid || myForm.disabled || success">{{ 'reset_password' | translate }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
