<div class="d-flex bd-highlight img-portada">
  <div class="contenedor1 col-md-8">
    <div class="py-6 no-pading-mobile2"></div>
    <div class=" pt-5 no-pading-mobile">
      <h1>{{ "awake_" | translate }}</h1>
      <p class=" col-md-9">
        {{ "teach_all" | translate }}
      </p>
    </div>
    <br>
    <button class="btn btn-block p-0" type="button"  (click)="register()">
      <span class="text-capitalize text-white">{{
        "sign_up" | translate
      }}</span>
    </button>
    <div class="py-5 no-pading-mobile2"></div>
    <div class="py-4 no-pading-mobile"></div>
  </div>
</div>

 <app-slider></app-slider>
 <app-home2></app-home2>
  <app-footer></app-footer>

