<form [formGroup]="myForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="name" formControlName="name" class="form-control form-control-alternative">
  </div>
  <div class="form-group">
    <label for="surname">Apellidos</label>
    <input type="surname" formControlName="surname" class="form-control form-control-alternative">
  </div>
  <div class="form-group">
    <label for="description" class="mb-2">Descripción</label>
    <textarea [froalaEditor] formControlName="description"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Actualizar información</button>
</form>

