* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.img-portada {
  background: url("../img/Portada.jpg") 0 0/100% 100% no-repeat;
}
.img-portada2 {
  background: url("../img/Portada2.jpg") 0 0/100% 100% no-repeat;
}
.img-portada3 {
  background: url("../img/coaching.jpg") 0 0/100% 100% no-repeat;
}
.img-portada4 {
  background: url("../img/Portada3.jpg") 0 0/100% 100% no-repeat;
}

.img-mision-vision {
  background: url("../img/Fondo_Misión_y_visión.jpg") 0 0/100% 100% no-repeat;
}
.img-fondoEducacion {
  background: url("../img/fondo_educacion_digital.jpg") 0 0/100% 100% no-repeat;
}

.contenedor1 {
  padding-left: 4rem;
}

.contenedor1 h1 {
  font-size: 60px;
  line-height: 65px;
}
.contenedor1 p {
  top: 1rem;
  font-size: 40px;
  line-height: 45px;
}

.contenedor1 button {
  border-radius: 35px;
  width: 250px;
  font-size: 30px;
  background-color: #e31a3a;
  font-family: JostBold;
}

.contenedor2 h1,
.contenedor5 h1 {
  padding-left: 4rem;
  font-size: 48px;
  line-height: 55px;
}

#esp {
  line-height: 50px;
}
.contenedor2 p,
.contenedor5 p {
  padding-left: 4rem;
  font-size: 33px;
  line-height: 37px;
}

.contenedor5 p {
  font-size: 37px;
  line-height: 50px;
}

.contenedor4 h1 {
  font-size: 70px;
  line-height: 80px;
}
.contenedor4 p {
  top: 20px;
  font-size: 32px;
  line-height: 29px;
  color: #86ddc0;
  text-align: justify;
  width: 320px;
}

h1 {
  font-family: "Paytone One Regular";
  color: white;
}

p {
  font-family: "Jost Regular";
  color: white;
}

@font-face {
  font-family: Paytone One Regular;
  src: url(../fonts/PaytoneOneRegular.ttf);
}

@font-face {
  font-family: Jost Regular;
  src: url(../fonts/jost/Jost-Regular.ttf);
}

@font-face {
  font-family: JostBold;
  src: url(../fonts/jost/Jost-Bold.ttf);
}

button {
  border-radius: 30px;
  width: auto;
  font-size: xx-large;
  background-color: #e31a3a;
  font-family: JostBold;
  font-weight: bold;
}

/* .contenedor3 * {
  border: dotted;
} */

.contenedor3 p {
  font-size: 14.2px;
  color: #15adb7;
  text-align: justify;
  text-align-last: center;
  line-height: 20px;
  padding-left: 15px;
  padding-right: px;
}
.contenedor3 h1 {
  top: -5rem;
}
.containers *{
  margin-left: auto;
  margin-right: auto;
}
.h1-size h1{
  font-size: 70px;
}
.containers h3{
  line-height: 35px;
  font-family: "Paytone One Regular";
}
.containers p{
  font-size: 20px;
}
.containers img{
  display:block;
  margin:auto;
  width: 40%;
}

@media screen and (max-width: 1100px) {
  .img-fondoEducacion {
    background: url("../img/EduDig.jpg") 0 0/100% 100% no-repeat;
  }
  .no-pading-mobile9 {
    padding: 0% !important;
  }
  .no-pading-mobile1 {
    padding: 17% !important;
  }

  .contenedor4{
    margin-left: auto !important;
    margin-right:auto !important;
  }

  .contenedor4 *{
    text-align: center;
  }

  .contenedor4 h1 {

    font-size: 40px;
    line-height: 35px;
  }
  .contenedor4 p {
    top: 30px;
    font-size: 25px;
    line-height: 30x;
    width: auto;
    text-align-last: center;
  }
  .no-pading-mobile2 {
    padding: 3% !important;
  }


}
@media screen and (max-width: 1000px) {


  .no-pading-mobile3 {
    padding: 3% !important;
  }

  .contenedor1 h1 {
    font-size: 45px;
    line-height: 45px;
  }
  .contenedor1 p {
    font-size: 35px;
    line-height: 34px;
    padding-left: 0%;
  }
}

@media screen and (max-width: 800px) {

  .h1-size h1{
    font-size: 50px;
  }
  .containers h3{
    font-size: 18px;
    line-height: 22px;

  }
  .containers p{
    font-size: 17px;
  }

  .contenedor4 {
    width: 340px !important;
  }
  .contenedor4 h1{
    font-size: 32px;
  }
  .contenedor4 p{
    font-size: 20px;
  }
  .contenedor5 {
    padding-top: 0px;
  }
  .no-pading-mobile3 {
    padding: 0% !important;
  }
  .no-pading-mobile6 {
    padding: 0% !important;
  }

  .no-pading-mobile4 {
    padding: 0% !important;
  }



  .contenedor1 {
    width: 400px;
  }
  .contenedor1 h1 {
    font-size: 37px;
    line-height: 40px;
  }
  .contenedor1 p {
    font-size: 27px;
    line-height: 28px;
    padding-left: 0%;
  }
  /* .contenedor2{
    width: 400px;
  } */
  .co {
    width: 100px;
  }
  .contenedor2 {

    padding-right: 23%;
  }
  .contenedor5 {
    padding-right: 23%;
  }

  .contenedor2 h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .contenedor2 p {
    font-size: 25px;
  }
  .contenedor5 button {
    font-size: 30px;
    width: 200px;
  }

  .contenedor5 h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .contenedor5 p {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 769px) {
.contenedor4 p{
  font-size: 15px;
  line-height: 20px;
}
}
@media screen and (max-width: 767px) {
  .conP {
    padding-left:10% !important ;
  }
  .conP p{
    font-size:23px;
    width: 250px;
  }
  .conP button{
    width: 160px;
    font-size: 20px;
  }

.containers img{
  width: 20%;
}
}
@media screen and (max-width: 700px) {
  .containers h3 {
    width: 70%;
  }
  .h1-size h1{
    font-size: 35px;
  }
  .conP p{
    font-size:23px;
    width: 200px;
  }
  .no-pading-mobile8 {
    padding: 30px !important;
  }
  .no-pading-mobile11 {
    padding: 0% !important;
  }
}
@media screen and (max-width: 575px) {

.contenedor4 h1 {
  font-size: 27px;
}
.contenedor4 p{
  font-size: 14px;
}

  .no-pading-mobile8 {
    padding: 90px !important;
  }
  .contenedor5 button {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {

  .containers h4{
    font-size: 15px;
  }
  .h1-size h1{
    font-size: 28px;
  }
  .conP {
    padding-left:20% !important ;
  }
  .conP *{
    width: 120px !important;
  }
  .contenedor4 p{
    padding-left: 35px;
    padding-right: 35px;
  }
  .no-pading-mobile8 {
    padding: 0% !important;
  }
  .no-pading-mobile {
    padding: 0 !important;
  }
  .no-pading-mobile2 {
    padding: 3% !important;
  }
  .no-pading-mobile3 {
    padding: 10% !important;
  }
  .no-pading-mobile4 {
    padding: 7% !important;
  }
  .no-pading-mobile6 {
    padding: 7% !important;
  }
  .no-pading-mobile7 {
    padding: 8% !important;
  }
  .no-pading-mobile1 {
    padding: 27% !important;
  }
  .no-pading-mobile10 {
    padding: 40% !important;
  }

  .contenedor1 {
    left: -2rem;
  }
  .contenedor1 h1 {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
  }
  .contenedor1 p {
    padding: 0 0 0;
    font-size: 15px;
    line-height: 20px;
    width: 200px ;
  }

  .contenedor2 h1,
  .contenedor5 h1 {
    width: 250px;
    font-size: 20px;
    line-height: 20px;
    padding: 0 20px 0;
  }

  .contenedor5 {
    left: -2rem;
  }
  .contenedor1 button {
    width: 150px;
    font-size: 15px;
    padding-left: 30px;
  }
  .contenedor2 button {
    left: -3rem;
    width: 100px;
    font-size: 15px;
  }
  .contenedor5 button {
    left: -3.4rem;
    width: 115px;
    font-size: 15px;
  }

  .contenedor2 p,
  .contenedor5 p {
    padding: 10px 20px 0;
    width: 200px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bolder;
  }
  .contenedor3 p {
    width: 300px;
  }
}
