  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.alt">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div class="container-fluid">
    <div class="mb-5">
      <app-loading *ngIf="loading; else data"></app-loading>
      <ng-template #data>
        <ng-container *ngIf="error; else noError">
          <div class="alert alert-danger" role="alert">
            <strong>Ups!</strong>
            <p>Tenemos un problema con nuestros servidores por favor intenta más tarde</p>
          </div>
        </ng-container>
            <ng-template #noError>
              <ng-container *ngIf="categories.length; else noCategories">
                <app-category [category]="category" *ngFor="let category of categories"></app-category>
              </ng-container>
              <ng-template #noCategories>
                <div class="alert alert-primary" role="alert">
                  <strong>Ups!</strong>
                  <p>No tenemos Categorías registradas por favor intenta más tarde</p>
                </div>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
        <img src="./assets/img/home1.jpg" alt="Congenius Más Simple" class="img-fluid">
        <div class="pb-5 container">
          <div class="row">
            <div class="col-sm-6 text-center">
              <img src="./assets/img/mision.jpg" class="img-fluid" alt="misión de congenius">
              <h3>{{ 'mission' | translate }}</h3>
              <p>
                {{ 'mission_congenius' | translate }}
              </p>
            </div>
            <div class="col-sm-6 text-center">
              <img src="./assets/img/vision.jpg" class="img-fluid" alt="visión de congenius">
              <h3>{{ 'vission' | translate }}</h3>
              <p>
                {{ 'vission_congenius' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="py-5">
          <a href="https://wa.link/b22osi" target="_blank">
            <img src="./assets/img/querer-profesor.jpg" alt="¿Quieres ser profesor de CongeniusMS?" class="img-fluid">
          </a>
        </div>
      <div class="py-5" *ngIf="error || loading"></div>
  </div>
