<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="myForm" *ngIf="myForm" (submit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-body p-0">
          <h5 class="modal-title pt-4 text-center" id="loginModalLabel">{{ 'login' | translate }}</h5>
          <div class="px-3 pt-3">
            <app-loading *ngIf="loading; else formTemplate"></app-loading>
            <ng-template #formTemplate>
              <div class="form-group">
                <label for="email">{{ 'email' | translate }}</label>
                <input type="email" formControlName="email" class="form-control form-control-alternative" placeholder="email@example.com">
                <ng-container *ngIf="error"> <small class="text-danger">{{ error }}</small></ng-container>
              </div>
              <div class="form-group">
                <label for="password">{{ 'password' | translate }}</label>
                <input type="password" formControlName="password" class="form-control form-control-alternative" placeholder="********">
                <button type="button" class="btn btn-link p-0" (click)="resetPassword()"><small>{{ 'forgot_password' | translate }}</small></button>
              </div>
            </ng-template>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="myForm.invalid || myForm.disabled">{{ 'login' | translate }}</button>
          </div>
          <hr class="mb-3">
          <div class="text-center">
            <button class="btn btn-link pt-0 pb-3" type="button" (click)="register()">
              <small>{{ 'no_account' | translate }}<span class="ml-2">{{ 'register' | translate }}</span></small>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
