
<!-- Navbar default -->
<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/img/logo.png" alt="Congenius Más simple">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLink="/">
              <img src="./assets/img/logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <ng-container *ngIf="_userAuth.getIdentity() && _userAuth.getToken(); else authTemplate">
          <li class="nav-item" id="wish" [tooltip]="('coming_soon' | translate) + ' ' + ('wish' | translate)">
            <a class="nav-link nav-link-icon" href="javascript:;">
              <i class="ni ni-favourite-28 text-danger"></i>
              <span class="nav-link-inner--text d-lg-none">{{ 'wish' | translate }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLink="/mis-cursos" routerLinkActive="active">
              <span class="nav-link-inner--text">{{ 'my_courses' | translate }}</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link nav-link-icon dropdown-toggle" href="javascript:;" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="nav-link-inner--text">{{ _userAuth.getIdentity().name }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
              <a routerLink="/ajustes" class="dropdown-item">{{ 'settings' | translate }}</a>
              <div class="dropdown-divider"></div>
              <button type="button" class="dropdown-item text-danger" (click)="_userAuth.logout()">{{ 'logout' | translate }}</button>
            </div>
          </li>
        </ng-container>
        <ng-template #authTemplate>
          <li class="nav-item">
            <a class="nav-link btn order btn-block" type="button" href="https://congeniusms.com/curso/kaede-jpculture-sushi">
               <span class="text-capitalize">{{ 'Be_Coaching' | translate }}</span>
            </a>
           </li>
          <li class="nav-item">
           <a class="nav-link btn order btn-block" type="button" href="https://congeniusms.com/curso/kaede-jpculture-sushi">
              <span class="text-capitalize">{{ 'Be_Teacher' | translate }}</span>
           </a>
          </li>
          <li class="nav-item">
            <button class="nav-link btn order btn-block" type="button" (click)="login()">
              <span class="text-capitalize">{{ 'login' | translate }}</span>
            </button>
          </li>
          <li class="nav-item m-auto">
            <button class="btn nav-link btn-block bg-magenta py-2" type="button" (click)="register()">
              <span class="text-capitalize text-white">{{ 'register' | translate }}</span>
            </button>
          </li>
        </ng-template>
        <li class="nav-item dropdown show">
          <a class="nav-link text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon" [ngClass]="currentLang.flag"></i></a>
          <div class="dropdown-menu dropdown-menu-right animated bounceInDown p-0">
            <button class="dropdown-item btn" [disabled]="lang.currentLang === langi.lang"  (click)="changeLang(langi)" type="button" *ngFor="let langi of lang.datalangs"><i class="flag-icon m-0" [ngClass]="langi.flag"></i> {{ langi.title }}</button>
          </div>
        </li>
      </ul>
    </div>
</nav>
<ng-container *ngIf="!(_userAuth.getIdentity() && _userAuth.getToken())">
  <app-login></app-login>
  <app-register></app-register>
  <app-reset-password></app-reset-password>
</ng-container>
