<div class="container-fluid">
  <div class="my-3" *ngIf="loading; else courseTemplate">
    <app-loading></app-loading>
    <div class="p-5"></div>
    <div class="p-5"></div>
  </div>
  <ng-template #courseTemplate>
    <h1>{{ course.name }}</h1>
    <div class="row mb-3">
      <div class="col-md-8 order-lg-0 order-1">
        <div class="card">
          <div class="card-body pt-0 px-0">
            <video id="video-player" preload="metadata" class="video-js vjs-default-skin"  controls="true" muted></video>
            <div class="pt-3 px-3">
              <h3 class="card-title">{{ course.name }}</h3>
              <p class="card-text">{{ course.slogan }}</p>
              <h4 class="card-text">{{ 'description' | translate }}</h4>
              <div [innerHTML]="course.description"></div>
              <h4 class="card-title m-0">{{ 'course_content' | translate }}</h4>
              <p class="text-right m-0">
                <small>
                  {{ course.sections.length }} {{ 'sections' | translate }} - {{ totalLessons }} {{ ((totalLessons > 1) ? 'lessons' : 'lesson') | translate }}
                </small>
              </p>
              <div class="accordion" id="sections">
                <div class="card" *ngFor="let section of course.sections; let i = index">
                  <div class="card-header p-0" [id]="'heading' + i">
                    <h2 class="mb-0">
                      <button class="btn text-dark btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'section' | translate}} {{ i + 1 }}. {{ section.name }}
                      </button>
                    </h2>
                  </div>
                  <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#sections">
                    <div class="card-body p-0">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let lesson of section.lessons">
                          <ng-container *ngIf="lesson.is_public; else noPublicTemplate">
                            <button class="btn btn-link p-0" (click)="showPublicLesson(lesson)">
                              <span><i class="mdi" [ngClass]="{'mdi-play-circle-outline': lesson.is_video, 'mdi-file-outline': !lesson.is_video }"></i></span>
                              &nbsp;{{ lesson.name }}
                              <span>{{ 'free_lesson' | translate }}</span>
                            </button>
                          </ng-container>
                          <ng-template #noPublicTemplate>
                            <span><i class="mdi" [ngClass]="{'mdi-play-circle-outline': lesson.is_video, 'mdi-file-outline': !lesson.is_video }"></i></span>
                            &nbsp;{{ lesson.name }}
                          </ng-template>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <h4 class="card-title mt-3">{{ 'categories' | translate }}</h4>
            <p *ngFor="let category of course.categories"><i class="mdi mdi-star"></i>&nbsp;{{ category.category.name }}</p>
            <ng-container *ngIf="course.requirements && course.requirements.length">
              <h4 class="card-title mt-3">{{ 'course_requirements' | translate }}</h4>
              <p *ngFor="let requirement of course.requirements"><i class="mdi mdi-hexagon"></i>&nbsp;{{ requirement.title }}</p>
            </ng-container>
            <ng-container *ngIf="course.you_learns && course.you_learns.length">
              <h4 class="card-title mt-3">{{ 'course_learns' | translate }}</h4>
              <p *ngFor="let you_learn of course.you_learns"><i class="mdi mdi-checkbox-marked-circle"></i>&nbsp;{{ you_learn.title }}</p>
            </ng-container>
            <h4 class="card-title">
              <ng-container *ngIf="course.courseTeachers.length == 1; else teachersTemplate">
                {{ 'teacher' | translate }}
              </ng-container>
              <ng-template #teachersTemplate>
                {{ 'teachers' | translate }}
              </ng-template>
            </h4>
            <div *ngFor="let teacher of course.courseTeachers">
              <div class="row">
                <div class="col-lg-4 col-6 m-auto">
                  <div class="container">
                    <img [src]="'https://congenius.s3.us-east-2.amazonaws.com/users/' + teacher.teacher.user.image" [alt]="teacher.teacher.user.name" class="img-fluid rounded-circle">
                  </div>
                </div>
                <div class="col-md-12 my-3">
                  <h5 class="card-title text-capitalize text-center m-0">{{ teacher.teacher.user.name }}&nbsp;{{ teacher.teacher.user.surname }}</h5>
                </div>
                <div class="col-md-12">
                  <div [innerHTML]="teacher.teacher.user.description"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 order-lg-1 order-0">
      <div class="card" id="cardPrice">
        <div class="card-body p-0">
          <img [src]="'https://congenius.s3.us-east-2.amazonaws.com/covers/' + course.cover" [alt]="course.name" class="img-fluid">
          <div class="p-3">
            <ng-container *ngIf="courseAcquired; else priceTemplate">
              <h4 class="card-title"><b>Curso Adquirido</b></h4>
              <a class="btn btn-block btn-primary" [routerLink]="['/curso', course.path, 'clases']">Ir Al Curso</a>
            </ng-container>
            <ng-template #priceTemplate>
              <h2>{{ course.actualPrice.price | number: '0.2-2' }} USD</h2>
              <button class="btn btn-primary btn-block" (click)="generateOrder()" [disabled]="loadingOrder">
                <span *ngIf="loadingOrder">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
                </span>
                <span>{{ 'buy_course' | translate }}</span>
              </button>
            </ng-template>
            <p class="card-text mt-3"><b>{{'this_course_include' | translate}}</b></p>
            <p>
              <i class="mdi mdi-presentation-play"></i>
              &nbsp;
              <span><strong>{{ course.sections.length }}</strong></span>
              <span>&nbsp;Módulos del curso</span>
            </p>
            <p>
              <i class="mdi mdi-bookmark-outline"></i>
              &nbsp;
              <span><strong>{{ totalLessons }}</strong></span>
              <span>&nbsp;Clases del curso</span>
            </p>
            <p *ngIf="totalArticles != 0">
              <i class="mdi mdi-book-open-variant"></i>
              &nbsp;
              <span><strong>{{ totalArticles }}</strong></span>
              <span>&nbsp;{{ ((totalArticles == 1) ? 'article' : 'articles') | translate }}</span>
            </p>
              <p>
                <i class="mdi mdi-timer-sand"></i>
                &nbsp;
                <span>{{ 'lifetime_access' | translate }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-show-public-lesson></app-show-public-lesson>
