<div class="card cursor-pointer animate__animated animate__fadeInRight" [routerLink]="['/curso', course.course.path]">
  <img class="card-img-top img-fluid" [src]="'https://congenius.s3.us-east-2.amazonaws.com/covers/' + course.course.cover" [alt]="course.course.name" *ngIf="course.course.cover">
  <div class="card-body p-2">
    <h4 class="card-title mb-0">{{ course.course.name }}</h4>
    <p class="mb-2">
      <small *ngFor="let teacher of course.course.courseTeachers; let i = index" class="text-capitalize">
        <span>{{ teacher.teacher.user.name }}</span>&nbsp;<span>{{ teacher.teacher.user.surname }}</span>
        <span *ngIf="course.course.courseTeachers.length - 1 != i">,&nbsp;</span>
      </small>
    </p>
    <p class="card-text">{{ course.course.slogan }}</p>
    <p class="display-4 text-primary m-0"><b>{{ course.course.actualPrice.price | number: '0.2-2' }} USD</b></p>
  </div>
</div>
