<div class="bg-azul" style="height: 100vh;">
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-6 m-auto">
        <div class="card">
          <div class="card-body">
            <img src="./assets/img/logo.png" alt="CongeniusMS" class="img-fluid">
            <ng-container *ngIf="successRecovery; else formTemplate">
              <div class="mt-3 animate__animated animate__fadeInUp">
                <h1 class="h5">{{ 'reset_password' | translate }}</h1>
                <p class="card-text">{{ 'success_recovery_pwd' | translate }}</p>
                <p class="text-center mt-3"><a routerLink="/login">{{ 'login' | translate }}</a></p>
              </div>
            </ng-container>
            <ng-template #formTemplate>
              <div class="mt-3">
                <h1 class="h5">{{ 'reset_password' | translate }}</h1>
                <form *ngIf="myForm" [formGroup]="myForm" (submit)="onSubmit()">
                  <div class="form-group">
                    <label for="password">{{ 'password' | translate }}</label>
                    <input type="password" class="form-control form-control-alternative" [placeholder]="'password' | translate" formControlName="password">
                    <small class="text-danger" *ngIf="myForm.controls['password_confirmation'].touched && myForm.value['password'] !== myForm.value['password_confirmation']">{{ 'passwords_dont_match' | translate }}</small>
                  </div>
                  <div class="form-group">
                    <label for="password_confirmation">{{ 'repeat_password' | translate }}</label>
                    <input type="password" class="form-control form-control-alternative" [placeholder]="'repeat_password' | translate" formControlName="password_confirmation">
                  </div>
                  <button class="btn btn-primary btn-block" type="submit" [disabled]="myForm.invalid || myForm.value['password'] !== myForm.value['password_confirmation']">{{ 'reset_password' | translate }}</button>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


