<!-- Modal -->
<div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="myForm" *ngIf="myForm" (submit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Regístrate</h5>
          <button type="button" class="close" (click)="destroy()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-loading *ngIf="loading; else formTemplate"></app-loading>
          <ng-template #formTemplate>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="name" formControlName="name" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <label for="surname">Apellidos</label>
              <input type="surname" formControlName="surname" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" formControlName="email" class="form-control form-control-alternative" placeholder="email@dominio.com">
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" class="form-control form-control-alternative" placeholder="********">
              <ng-container *ngIf="myForm.controls['password_confirmation'].touched">
                <small class="text-danger" *ngIf="myForm.value['password'] !== myForm.value['password_confirmation']">Las Contraseñas no coinciden</small>
              </ng-container>
            </div>
            <div class="form-group">
              <label for="password_confirmation">Repita Contraseña</label>
              <input type="password" formControlName="password_confirmation" class="form-control form-control-alternative" placeholder="********">
            </div>
            <button class="btn btn-link p-0" type="button" (click)="login()">
              <small>¿Tienes cuenta? Iniciar Sesión</small>
            </button>
          </ng-template>
          <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
            {{ error }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid || myForm.disabled || myForm.value['password'] !== myForm.value['password_confirmation']">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
</div>
