<h1 class="mb-3">{{ 'my_courses' | translate }}</h1>
<div class="mb-5">
  <app-loading *ngIf="loading; else dataTemplate"></app-loading>
  <ng-template #dataTemplate>
    <ng-container *ngIf="userCourses.length; else elseTemplate">
      <div class="row mb-3">
        <div class="col-xl-4 col-md-6 animate__animated animate__backInRight" *ngFor="let userCourse of userCourses">
          <div class="card">
            <img [src]="'https://congenius.s3.us-east-2.amazonaws.com/covers/' + userCourse.course.cover" [alt]="userCourse.course.name" class="card-img-top">
            <div class="card-body p-2">
              <h4 class="card-title mb-0">{{ userCourse.course.name }}</h4>
              <p class="mb-2">
                <small *ngFor="let teacher of userCourse.course.courseTeachers; let i = index" class="text-capitalize">
                  <span>{{ teacher.teacher.user.name }}</span>&nbsp;<span>{{ teacher.teacher.user.surname }}</span>
                  <span *ngIf="userCourse.course.courseTeachers.length - 1 != i">,&nbsp;</span>
                </small>
              </p>
              <p class="card-text">{{ userCourse.course.slogan }}</p>
              <a [routerLink]="['/curso', userCourse.course.path, 'clases']" class="btn btn-block btn-primary">Ir al curso</a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-group" role="group" aria-label="pagination">
          <button class="btn btn-primary" type="button" [disabled]="currentPage == 1" (click)="setPage(1)"><i class="mdi mdi-chevron-double-left"></i></button>
          <button class="btn btn-primary" type="button" [disabled]="currentPage == 1" (click)="setPage(currentPage - 1)"><i class="mdi mdi-chevron-left"></i></button>
          <button class="btn btn-primary" type="button" [disabled]="currentPage == totalPages" (click)="setPage(currentPage + 1)"><i class="mdi mdi-chevron-right"></i></button>
          <button class="btn btn-primary" type="button" [disabled]="currentPage == totalPages" (click)="setPage(totalPages)"><i class="mdi mdi-chevron-double-right"></i></button>
        </div>
        <p>{{ currentPage }} de {{ totalPages }}</p>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-2 animate__animated animate__bounce">:(</h2>
          <p class="lead animate__animated animate__jello">No tienes cursos en tu cuenta.</p>
          <a routerLink="/" class="btn btn-link p-0">Galería de cursos para ti</a>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<div class="py-5"></div>
