* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #181832;
  border: none;
}
.boton-transparente {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #181832;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.boton-transparente:hover,
.boton-transparente:active {
  background-color: #181832;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.contenedor {
  width: 88%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.aa {
  top: 15px;
  background: url("../../../../assets/img/ImgSlider/3.png") 0 0/90% 90%
    no-repeat;
}

// button{
//   left: 30rem;
//   right: 30rem;
// }

header {
  padding: 30px 0;
}

label {
  position: relative;
}
p {
  position: absolute;
  top: 25px;
  color: #e50914;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  top: 18rem;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

h1 {
  font-family: "Paytone One Regular";
  font-size: 70px;
}

a {
  font-family: "Jost Regular";
}

.contenedor-titulo-controles .indicadores button {

  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;

}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.tarjetas-recomendadas {
  margin-bottom: 70px;
}

.tarjetas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.tarjetas-recomendadas .contenedor-principal .flecha-izquierda,
.tarjetas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.tarjetas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.tarjetas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.tarjetas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.tarjetas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.tarjetas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
span {
  position: relative;
  color: white;
  left: 20px;
  top: -6rem;
  font-size: 16px;
}
.tarjetas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta {
  min-width: 25%;
  height: 220px;

  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta.hover {
  transform: scale(1.2);
  transform-origin: center;
}

.tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta img {
  width: 100%;
  vertical-align: top;
  padding-left: 10px;
}


@media screen and (max-width: 800px) {
  .contenedor h1{
    font-size: 40px;
  }
  .tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta {
    min-width: 35%;
    height: 220px;
  }
  ul,
li {
  left: -3rem;
  width: 50%;
  right: 10rem;

}
 .link.link--2 {
    top: 0rem;
    left: 0px;
    text-align: left;
    font-size: 22px;
  }
  .menu {
    width: 80%;
  }

}
/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 530px) {
  .tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta {
    min-width: 100%;

  }




  .contenedor h1 {
    font-size: 30px;
  }
  button {
    border: none;
    outline: none;
  }
  ul,
  li {
    width: 25%;
  }
  .link.link--2 {
    top: 0rem;
    left: 0px;
    text-align: right;
    font-size: 15px;
  }
  .menu {
    width: 80%;
  }
  .menu li a {
    font-size: 10px;
    text-align: left;
  }

  .tarjetas-recomendadas .contenedor{
   margin: 0;
  }
  .tarjetas-recomendadas .contenedor-carousel .carousel .tarjeta   {
    width: 100px;
    height: 300px;
  }
  .ancho {
    width: 300px !important;
  }
  .carousel {
    position: flex;
  }
  .ancho span {
    text-align: center;
    // top: 1rem;
    top: auto;
    font-size: 18px;
    line-height: 30px;
    // left: 15px;
  }
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }
  h1 {
    font-size: 10px;
  }
  header .contenedor {
    flex-direction: column;
    text-align: center;
  }


  .tarjeta-principal {
    font-size: 14px;
  }

  .tarjeta .descripcion {
    max-width: 100%;
  }

  .no-pading-mobile {
    padding: 0 !important;
  }

  // .peliculas-recomendadas .contenedor-carousel {
  // 	overflow: visible;
  // }

  // .peliculas-recomendadas .contenedor-carousel .carousel {
  // 	display: grid;
  // 	grid-template-columns: repeat(3, 1fr);
  // 	gap: 7px;
  // }

  .tarjetas-recomendadas .indicadores{
   	display: none;
   }

  .contenedor {
    width: 100%;
    padding: 0;
  }

  .tarjetas-recomendadas .contenedor-principal .flecha-izquierda,
  .tarjetas-recomendadas .contenedor-principal .flecha-derecha {
    font-size: 20px;
    height: 20%;
    top: calc(50% - 8.5%);
    line-height: 10px;
    width: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
  }

}

.indi {
  position: relative;
  top: 20rem;
  left: 30rem;
}

ul,
li {
  padding: 0;
  text-align: center;
  list-style: none;
  width: 25%;
}

ul.slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  list-style: none;
}
.c {
  top: 30px;
}
ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}

ul.slider li {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  width: 100%;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: white;
  text-decoration: none;
}

$lemon: #099cd6;

.link {
  position: relative;
  display: block;
  top: 3rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  width: fit-content;
  margin: 0;
  z-index: 0;
  transition: all 450ms ease;
  left: 100px;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    transition: width 540ms, opacity 300ms ease;
  }
}
/* LINK 2    */
.link--2 {
  &::before,
  &::after {
    height: 0.1em;
    bottom: -1px;
  }

  &::before {
    width: 0;
    background-color: $lemon;
  }

  &::after {
    width: 100%;
    border: 1px solid $lemon;
    border-top: 0;
    opacity: 0;
  }

  &:hover {
    color: $lemon;

    &::before {
      width: 0;
      animation: width 1500ms ease forwards;
    }

    &::after {
      opacity: 1;
    }
  }
}

@keyframes width {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 70%;
  }
}
