<div class="d-flex p-2 bd-highlight">
  <div class="contenedor">
    <div>
      <h1 class="text-center">{{ "All_the_Curses" | translate }}</h1>
      <br />
    </div>
    <div class="content centered-elements ">
      <ul class="menu">
        <li>
          <button type="button" class="link link--2 boton-transparente" href="#slide1">{{
            "All_Categories" | translate
          }}</button>
        </li>
        <li>
          <button type="button" class="link link--2 boton-transparente" href="#slide1">{{
            "Experience" | translate
          }}</button>
        </li>
        <li>
          <button type="button" class="link link--2 boton-transparente" href="#slide1">{{
            "Language" | translate
          }}</button>
        </li>
        <li>
          <button type="button" class="link link--2 boton-transparente" href="#slide1">{{ "Culture" | translate }}</button>
        </li>
      </ul>
    </div>

    <br />
    <br />

    <div class="tarjetas-recomendadas contenedor">


      <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda">
          <i class="fas fa-angle-left"></i>
        </button>

        <div class="contenedor-carousel">
          <div class="carousel">
            <div class="tarjeta row">
              <a href="https://congeniusms.com/curso/shoka-curso-ingles"
                ><img src="./assets/img/ImgSlider/1.png" alt=""
              /></a>
              <div class="ancho row py-7 no-pading-mobile" style="width: 170px">
                <a href="https://congeniusms.com/curso/shoka-curso-ingles">
                  <span> {{ "learn_Japones" | translate }}</span
                  ><br />
                  <span>{{ "Shoka_Fukui" | translate }}</span>
                </a>
              </div>
            </div>
            <div class="tarjeta row">
              <a href="https://congeniusms.com/curso/kaede-jpculture-sushi"
                ><img src="./assets/img/ImgSlider/3.png" alt=""
              /></a>
              <div class="ancho row py-7 no-pading-mobile" style="width: 170px">
                <a href="https://congeniusms.com/curso/kaede-jpculture-sushi">
                  <span> {{ "Sushi" | translate }}</span
                  ><br />
                  <span>{{ "Kaede_Nishikawa" | translate }}</span>
                </a>
              </div>
            </div>
            <div class="tarjeta row">
              <a
                href="https://congeniusms.com/curso/kaede-jp-culture-self-introduction"
                ><img src="./assets/img/ImgSlider/5.png" alt=""
              /></a>
              <div class="ancho row py-7 no-pading-mobile" style="width: 170px">
                <a
                  href="https://congeniusms.com/curso/kaede-jp-culture-self-introduction"
                >
                  <span> {{ "Basic_Japones" | translate }}</span
                  ><br />
                  <span>{{ "Kaede_Nishikawa" | translate }}</span>
                </a>
              </div>
            </div>
            <div class="tarjeta row">
              <a href="https://congeniusms.com/curso/kaede-jp-culture-counting"
                ><img src="./assets/img/ImgSlider/4.png" alt=""
              /></a>

              <div class="ancho row py-7 no-pading-mobile" style="width: 220px">
                <a
                  href="https://congeniusms.com/curso/kaede-jp-culture-counting"
                >
                  <span> {{ "Learn_the_Numbers" | translate }}</span
                  ><br />
                  <span>{{ "Kaede_Nishikawa" | translate }}</span>
                </a>
              </div>
            </div>
            <div class="tarjeta row">
              <a
                href="https://congeniusms.com/curso/kaede-jp-culture-chopsticks"
                ><img src="./assets/img/ImgSlider/2.png" alt=""
              /></a>
              <div class="ancho row py-7 no-pading-mobile" style="width: 170px">
                <a
                  href="https://congeniusms.com/curso/kaede-jp-culture-chopsticks"
                >
                  <span> {{ "Palillos" | translate }}</span
                  ><br />
                  <span>{{ "Kaede_Nishikawa" | translate }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha">
          <i class="fas fa-angle-right"></i>
        </button>

        <!-- <div class="contenedor-titulo-controles">
        <div class="indicadores indi"></div>
      </div> -->
      </div>

      <div class="py-5 no-pading-mobile"></div>

      <script src="../../../../assets/js/main.js"></script>
    </div>
  </div>
</div>

