<div class="modal fade" data-backdrop="static" data-keyboard="false"   id="viewLessonModal" tabindex="-1" aria-labelledby="viewLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="lesson">
      <div class="modal-header">
        <h5 class="modal-title" id="viewLessonModalLabel">{{ lesson.name }}</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="lesson.is_video; else textTemplate">
          <video id="video-player-lesson" preload="metadata" class="video-js vjs-default-skin"  controls="true" muted></video>
        </ng-container>
        <ng-template #textTemplate>
          <div [innerHTML]="lesson.body"></div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
