<div class="d-flex flex-column bd-highlight mb-3">







  <div    id="carouselExampleIndicators"    class="carousel slide"    data-bs-ride="carousel"  >
    <div class="carousel-inner">
      <div class="carousel-item active">


        <div class="bd-highlight img-portada2">
          <div class="py-5 no-pading-mobile"></div>
          <div class="contenedor2">
            <div class="">
              <div class="normal2 col-md-8 pt-9 no-pading-mobile3">
                <h1>{{ "Teach_Title" | translate }}</h1>
                <p class="normal5 col-md-10">
                  {{ "awake_curiosity" | translate }}
                </p>
                <div class="pl-6">
                  <button
                    class="btn nav-link btn-block py-1"
                    type="button"
                    (click)="register()"
                  >
                    <span class="text-capitalize text-white">{{
                      "encourage" | translate
                    }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="py-5 no-pading-mobile6"></div>

            <div class="py-5 no-pading-mobile"></div>
          </div>
        </div>



      </div>
      <div class="carousel-item">
        <div class="bd-highlight img-portada3">
          <div class="py-6 no-pading-mobile8"></div>
          <div class="contenedor5">
            <div class="normal2 col-sm-6 pt-8 pd-m no-pading-mobile3">
              <h1>{{ "Be_Coaching" | translate }}</h1>

              <h1>{{ "And" | translate }}</h1>
              <p class="normal5 col-sm-12">
                {{ "Better" | translate }}
              </p>
              <div class="pl-6">
                <button
                  class="btn nav-link btn-block py-1"
                  type="button"
                  (click)="register()"
                >
                  <span class="text-capitalize text-white">{{
                    "Start_now" | translate
                  }}</span>
                </button>
              </div>
            </div>
            <div class="col-sm-6"></div>

            <div class="py-5 no-pading-mobile4"></div>

            <div class="py-5 no-pading-mobile7"></div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </button>
  </div>

  <div class="bd-highlight img-mision-vision">
    <div class="contenedor3 container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="./assets/img/Icono_mision.png" />
          <h3 class="text-center">{{ "mission" | translate }}</h3>
          <p class="text-justify">
            {{ "mission_congenius" | translate }}
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="./assets/img/IconoVision.png" />
          <h3 class="text-center">{{ "vission" | translate }}</h3>
          <p class="text-justify">
            {{ "vission_congenius" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="py-5"></div>
  </div>

  <div class="bd-highlight img-fondoEducacion ">
    <div class="py-5 no-pading-mobile2  "></div>

       <div class="contenedor4 col-md-6 pl-7 pt-7 no-pading-mobile9 normal4">

          <h1>{{ "digital_education" | translate }}</h1>

           <p >{{ "let´s_learn" | translate }} </p>

       </div>

      <div class="py-6 no-pading-mobile1"></div>
    <div class="py-5 no-pading-mobile"></div>
  </div>
</div>
