* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{

  font-family: Jost Regular;
}
.img-fondoEducacion {
  background: url("../../../../assets/img/Como_Crearlo.jpg") 0 0/100% 100% no-repeat;
}
.img-fondoProfesor {
  background: url("../../../../assets/img/PortadaProfesor.jpg") 0 0/100% 100% no-repeat;
}

.col-md-2 {
  margin-left: auto;
  margin-right: auto;

}
.col-md-2 h1{

  line-height: 60px;
  text-align-last: right;
}

.contenedor1 {
  padding-left: 4rem;
}

.contenedor1 h1 {
  font-size: 60px;
  line-height: 55px;
}
.contenedor1 p{
  text-align: justify ;
  top: 1rem;
  font-size: 35px;
  line-height: 45px;
  padding-right: 30px;

}
.contenedor2 {
  margin-left: auto;
  margin-right: auto;
}
.contenedor2 p{
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 33px;
  line-height: 45px;
  text-align-last: center;
}

.contenedor3 p{
  font-size: 35px;
  line-height:45px;
}

.contenedor3 h1{
  line-height: 85px;
}

.contenedor3 button {
  border-radius: 35px;
  width: 160px;
  font-size: 30px;
  background-color: #e31a3a;

}

.con-title {
  margin-left: auto;
  margin-right: auto;
}
.con-title h1 {
  line-height: 60px;
  font-size: 65px;
}
button {
  background-color: #050221;
  border: none;
}

.mi{
  margin-left: auto;
  margin-right: auto;
}
.mi p{

  margin-left: auto;
  margin-right: auto;
}
.mi a{
  color: #fff;
  font-size: 30px;
}

.boton-transparente {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #181832;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.boton-transparente:hover,
.boton-transparente:active {
  background-color: #050221;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.contenedor {
  width: 88%;
  margin: auto;
  position: relative;
  overflow: hidden;
}


header {
  padding: 30px 0;
}

label {
  position: relative;
}
p {
  // position: absolute;
  top: 25px;
  color: #fff;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  // display: flex;
  justify-content: center;
  align-items: end;
  // position: relative;
  top: 18rem;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

h1 {
  font-family: "Paytone One Regular";
  font-size: 70px;
}


ul,li {
  padding: 0;
  text-align: center;
  list-style: none;
  width: 25%;
}

// ul.slider {
//   position: relative;
//   width: 100%;
//   height: 250px;
//   overflow: hidden;
//   list-style: none;
// }
// .c {
//   top: 30px;
// }
// ul.slider li {
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   opacity: 0;
//   width: inherit;
//   height: inherit;
//   transition: opacity 0.5s;
// }

// ul.slider li {
//   width: 100%;
//   height: 300px;
//   object-fit: cover;
// }

// ul.slider li:first-child {
//   opacity: 1; /*Mostramos el primer <li>*/
// }

// ul.slider li:target {
//   opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
// }

.menu {
  width: 100%;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: white;
  text-decoration: none;
}

$lemon: #099cd6;

.link {
  // position: relative;
  display: inline-block;
  top: 3rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  font-family: "Jost Regular";
  cursor: pointer;
  width: fit-content;
  margin: 0;
  z-index: 0;
  transition: all 450ms ease;
  left: 100px;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    transition: width 540ms, opacity 300ms ease;
  }
}
/* LINK 2    */
.link--2 {
  &::before,
  &::after {
    height: 0.1em;
    bottom: -1px;
  }

  &::before {
    width: 0;
    background-color: $lemon;
  }

  &::after {
    width: 100%;
    border: 1px solid $lemon;
    border-top: 0;
    opacity: 0;
  }

  &:hover {
    color: $lemon;

    &::before {
      width: 0;
      animation: width 1500ms ease forwards;
    }

    &::after {
      opacity: 1;
    }
  }
}

@keyframes width {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 70%;
  }
}


.cont-title{
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {

  .no-pading-mobile2 {
    padding: 7% !important;
  }
  .contenedor1 p{
    font-size: 30px;
  }
  .contenedor3 h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .contenedor3 p {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {

  .contenedor3 h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .contenedor3 p {
    font-size: 25px;
    line-height: 30px;
  }
  .con-title h1 {
    font-size: 45px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 50px;
  }
  .contenedor2 p{

    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    line-height: 35px;
  }
  .cont-title h1{
    text-align: center !important;
    text-align-last:auto;
    font-size: 50px;
  }
  .contenedor1 p{
    font-size: 25px;
    padding-right: 10%;

  }

  .no-pading-mobile1{
    padding: 0% !important;
  }
  .no-pading-mobile3{
    padding: 15% !important;
  }

  .link {
    font-size: 20px;
  }

  .contenedor1 p{
    font-size: 20px;
  }

  .mi a{
    font-size: 18px;
  }
}
  @media screen and (max-width: 767px){
    .img-fondoEducacion {
      background: url("../../../../assets/img/Crea_tu_Curso.jpg") 0 0/100% 100% no-repeat;
    }
    .cont-title {
      margin-left: auto;
      margin-right: auto;
    }
    .contenedor1 p{
      line-height: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    .no-pading-mobile4{
      padding-top: 5% !important;

    }
  }

  @media screen and (max-width: 575px){


    .contenedor3{
      padding-left: 0%;
    }
    .no-padding{
      padding-left: 10% !important;

    }


  .contenedor3 h1 {
    font-size: 38px;
    line-height: 42px;
    width: 200px;

  }
  .contenedor3 p {
    font-size: 22px;
    line-height: 25px;
    width: 230px;
  }
  .contenedor3 button{
    font-size: 20px;
    width: 120px;
  }

  }

  @media screen and (max-width: 500px){

    ul,li {
      width: 31%;
    }

    .boton-transparente {
      padding: 0%;
    }

    .no-pading-mobile4{
      padding-top: 1% !important;

    }
    .contenedor3 h1 {
      font-size: 28px;
      line-height: 32px;


    }
    .contenedor3 p {
      font-size: 15px;
      line-height: 20px;
      width: 165px;

    }
    .con-title h1 {
      font-size: 35px;
      line-height: 35px;
      padding-top: 10% !important;

    }
    .cont-title h1{
      font-size: 40px;
    }
    .link{

      font-size: 15px;
      display: table-column-group !important;
    }
    .contenedor1 {
      padding-left: 1rem;
    }
    .contenedor1 p {
      font-size: 20px;
    }
    .contenedor2 p{
      font-size: 20px;
      line-height: 30px;
      padding-top: 3% !important;
    }

    // .mi{
    //   padding-top: 10% !important;
    // }


  }


