
<div class="d-flex flex-column bd-highlight img-fondoEducacion">
  <div  class="col-md-12  text-center cont-title pt-6" >
    <h1 class="text-center ">{{ "How_creates" | translate }}</h1>
   <br />
 </div>
   <div class="contenedorCoaching pt-4 ">

     <div class="content centered-elements row  ">
       <ul class="menu col-12">
         <li class="col-4">
           <button type="button"  class="link link--2 boton-transparente" href="#slide1">{{
             "Creates" | translate
           }}</button>
         </li>
         <li class="col-4">
           <button type="button" class="link link--2 boton-transparente" href="#slide1">{{
             "Record" | translate
           }}</button>
         </li>
         <li class="col-4">
           <button type="button" class="link link--2 boton-transparente" href="#slide1">{{
             "How_Share_It" | translate
           }}</button>
         </li>

       </ul>
     </div>

     <br />
     <br />
   </div>
   <div class="contenedor1 col-md-7">
     <div class="py-4 no-pading-mobile1"></div>
     <div class="no-pading-mobile col-md-8 pl-3 pr-2">

       <p> {{ "Firsth_step" | translate }}</p>


      <div class="py-4"> <p> {{ "Can_Learning" | translate }}</p>
      </div>

       </div>

     <div class="py-5 "></div>



   </div>
   <div class="py-5 no-pading-mobile3"></div>
   <div class="py-4 no-pading-mobile"></div>






</div>








<div class="d-flex flex-column bd-highlight img-fondoProfesor">


          <div class="contenedor3 col-12">
            <div class="py-6   no-pading-mobile2"></div>
            <div class=" pl-7 no-padding col-sm-6">

                  <h1 class="col-9" >{{ "Convert_teach" | translate }}</h1>


                  <p class=" py-1 col-md-11 "> {{"Comunity" | translate}}</p>
                   <div class="py-4"></div>

                <button class="btn btn-block " type="button"  (click)="register()">
                    <span class="text-capitalize text-white">{{         "Join_Up" | translate       }}</span>
                </button>
            </div>

         </div>
              <br>


          <div class="py-6 no-pading-mobile4"></div>

</div>


<div class="d-flex flex-column bd-highlight  img-fondoEducacion">



</div  >

<div class="d-flex flex-column bd-highlight">
  <div class="con-title text-center   col-md-5   " >
    <h1 class=" pt-6">{{ "If_Have_dudes" | translate }}</h1>
  </div>
<div class="  no-pading-mobile"></div>
 <div class="contenedor2 text-center col-sm-6">


    <p class=" pt-5 col-10 "> {{"We_are" | translate}}</p>


    </div>

  <p class="mi pt-5 text-center">
    <i >
      <img src="./assets/img/icons/Inbox.png" style="width: 7%" />
    </i>
      <a class="pl-3 py-2" href="mailto:soporte@congeniusms.com" >soporte@congeniusms.com</a>
  </p>
  <br>
  <p class="mi  text-center">
    <i >
      <img src="./assets/img/icons/telefono.png" style="width: 8%" />
    </i>
    <a  href="https://api.whatsapp.com/send?phone=57 321 4946940"  class="pl-3 " target="_blank" >(+57) 321 4946940</a
  >
  </p>
  <div class="py-4"></div>


</div>
