@font-face {
  font-family: "Jost SemiBlod";
  src: url('./assets/fonts/jost/Jost-SemiBold.ttf');
}

@font-face {
  font-family: "Jost Regular";
  src: url('./assets/fonts/jost/Jost-Regular.ttf');
}

p, span, small, b {
  font-family: 'Jost Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost SemiBlod';
}

button:disabled {
  cursor: no-drop;
}

.cursor-pointer {
  cursor: pointer;
}
$color-magenta: #F00532;
$color-cyan: #0DBEC7;
$color-azul: #060126;
$color-naranja: #FA9407;

.text-magenta {
  color: $color-magenta;
}

.bg-magenta {
  background-color: $color-magenta;
}

#wish :hover {
  color: $color-magenta !important;
}

.bg-cyan {
  background-color: $color-cyan !important;
}

.bg-azul {
  background-color: $color-azul;
}

.btn-instagram {
  background-color: #EF426F;
}

.border-naranja {
  border-color: $color-naranja !important;
}

.text-naranja {
  color: $color-naranja;
}

.border-cyan {
  border-color: $color-cyan !important;
}

.text-cyan {
  color: $color-cyan !important;
}


.btn-naranja {
  color: #fff;
  background-color: $color-cyan;
  border-color: $color-cyan;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:hover {
  color: #fff;
  background-color: #3d55df;
  border-color: #324cdd;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(118, 135, 232, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #324cdd;
  border-color: #2742db;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(118, 135, 232, 0.5);
}
