<form [formGroup]="myForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="old_password">Contraseña Actual</label>
    <input type="password" formControlName="old_password" class="form-control form-control-alternative">
  </div>
  <div class="form-group">
    <label for="password">Nueva Contraseña</label>
    <input type="password" formControlName="new_password" class="form-control form-control-alternative">
    <ng-container *ngIf="myForm.controls['new_password_confirmation'].touched">
      <small class="text-danger" *ngIf="myForm.value['new_password'] !== myForm.value['new_password_confirmation']">Las Contraseñas no coinciden</small>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="new_password_confirmation">Repita Contraseña</label>
    <input type="password" formControlName="new_password_confirmation" class="form-control form-control-alternative">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid || myForm.disabled || myForm.value['new_password'] !== myForm.value['new_password_confirmation']">Actualizar Contraseña</button>
</form>
