<div class="container-fluid mt-3">
  <div class="my-3" *ngIf="loading; else courseTemplate">
    <app-loading></app-loading>
    <div class="p-5"></div>
    <div class="p-5"></div>
  </div>
  <ng-template #courseTemplate>
    <h1 class="h2">{{ course.name }}</h1>
    <div class="row">
      <div class="col-sm-9 order-lg-0 order-1" >
        <div class="card">
          <div class="card-body p-0">
            <div *ngIf="actualLesson.is_video && video">
                <video id="video-player" preload="metadata" class="video-js vjs-default-skin" controls="true"></video>
            </div>
            <div class="p-3">
              <h2 class="h3">{{ actualLesson.name }}</h2>
              <div *ngIf="!actualLesson.is_video">
                <div [innerHTML]="actualLesson.body"></div>
              </div>
              <ng-container *ngIf="actualLesson.resources.length">
                <h3 class="h5">Recursos de la clase</h3>
                <p class="card-text m-0" *ngFor="let resource of actualLesson.resources; let i = index">
                  <span>{{ i + 1 }}.&nbsp;</span>
                  <a [href]="(resource.is_link) ? resource.resource : 'https://congenius.s3.us-east-2.amazonaws.com/resources/' + resource.resource " class="mr-auto" target="_blank">{{ resource.name }}</a>
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div>
              <h3 class="card-title">{{ course.name }}</h3>
              <p class="card-text">{{ course.slogan }}</p>
              <h4 class="card-text">Descripción</h4>
              <div [innerHTML]="course.description"></div>
            <h4 class="card-title mt-3">Categorías</h4>
            <p class="" *ngFor="let category of course.categories"><i class="mdi mdi-star"></i>&nbsp;{{ category.category.name }}</p>
            <h4 class="card-title">
              <ng-container *ngIf="course.courseTeachers.length == 1; else teachersTemplate">
                Instructor
              </ng-container>
              <ng-template #teachersTemplate>
                Instructores
              </ng-template>
            </h4>
            <div *ngFor="let teacher of course.courseTeachers">
              <div class="row">
                <div class="col-sm-3 m-auto">
                  <div class="container">
                    <img [src]="'https://congenius.s3.us-east-2.amazonaws.com/users/' + teacher.teacher.user.image" [alt]="teacher.teacher.user.name" class="img-fluid rounded-circle">
                  </div>
                </div>
                <div class="col-sm-9 my-auto">
                  <h5 class="card-title text-capitalize">{{ teacher.teacher.user.name }}&nbsp;{{ teacher.teacher.user.surname }}</h5>
                  <div [innerHTML]="teacher.teacher.user.description"></div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 order-lg-1 order-0">
        <div class="accordion" id="sections">
          <div class="card" *ngFor="let section of course.sections; let i = index">
            <div class="card-header p-0" [id]="'heading' + i">
              <h2 class="mb-0">
                <button class="btn text-dark btn-block text-left p-3" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" aria-controls="collapseOne">
                  Sección {{ i + 1 }}. {{ section.name }}
                </button>
              </h2>
            </div>
            <div [id]="'collapse' + i" class="collapse" [ngClass]="{ 'show': section === actualsection }" [attr.aria-labelledby]="'heading' + i" data-parent="#sections">
              <div class="card-body p-0">
                <ul class="list-group">
                  <li class="list-group-item cursor-pointer" [ngClass]="{ 'active': lesson === actualLesson }" *ngFor="let lesson of section.lessons" (click)="changeActualLesson(lesson, section)"><span><i class="mdi" [ngClass]="{'mdi-play-circle-outline': lesson.is_video, 'mdi-file-outline': !lesson.is_video }"></i></span>&nbsp;{{ lesson.name }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
